@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

div.container{
    width: 100%;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1000px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    font-size: 40px;
    border: 1px solid;
    border-color:black;
    padding: 30px;
}

header a{
    text-decoration: none;
    color: black;
}
nav{
    width: 100%;
    display: flex;
    padding-top: 20px;
}
nav a{
    font-size: 20px;
    color: black;
    border: 1px solid;
    border-color: black ;
    margin: 3px;
    padding: 25px;
    text-decoration: none;
    margin-left: 0px;
}

nav a.active{
    background-color: rgb(141, 245, 245);
    border-bottom-color: rgb(141, 245, 245);
}

main{
    font-size: 17px;
    border: 1px solid;
    border-top: 10px solid rgb(141, 245, 245);
    padding: 7px;
    padding-bottom: 90px;
    margin-top: -3px;
}

article a{
    color:  rgb(70, 239, 239);
}

@media (max-width: 1000px) {
  
    div.container{
        padding: 0;
    }
    nav{
    display: flex;
  }

  nav a{
    padding: 20px;
  }
  
    main{
    display: flex;
  }

}

@media (max-width: 500px){

    nav a{
    font-size: 14px;
    padding: 10px;
    }
}